USE [EEDB]
GO
/****** Object:  Table [dbo].[T_GRP]    Script Date: 3/13/2018 2:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GRP](
	[GRP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GRP_NM] [nvarchar](200) NOT NULL,
	[ROW_CRT_TS] [datetime] NOT NULL,
 CONSTRAINT [PK_T_GRP] PRIMARY KEY CLUSTERED 
(
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_POST]    Script Date: 3/13/2018 2:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_POST](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_TITLE] [nvarchar](200) NOT NULL,
	[POST_TXT] [nvarchar](max) NOT NULL,
	[ROW_CRT_USR_ID] [int] NOT NULL,
	[ROW_CRT_TS] [datetime] NOT NULL,
	[POST_SCOPE_CD] [int] NOT NULL,
	[TO_GRP_ID] [int] NULL,
	[TO_USR_ID] [int] NULL,
 CONSTRAINT [PK_T_POST] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_POST_READS]    Script Date: 3/13/2018 2:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_POST_READS](
	[POST_ID] [int] NOT NULL,
	[USR_ID] [int] NOT NULL,
	[ROW_CRT_TS] [datetime] NOT NULL,
 CONSTRAINT [PK_T_POST_READS] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC,
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_USR]    Script Date: 3/13/2018 2:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USR](
	[USR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_NM] [nvarchar](200) NULL,
	[USR_LOGIN] [nvarchar](200) NOT NULL,
	[ROW_CRT_TS] [datetime] NOT NULL,
	[LAST_LOGIN_TS] [datetime] NULL,
 CONSTRAINT [PK_T_USR] PRIMARY KEY CLUSTERED 
(
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_USR_GRP]    Script Date: 3/13/2018 2:45:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USR_GRP](
	[USR_ID] [int] NOT NULL,
	[GRP_ID] [int] NOT NULL,
	[ROW_CRT_TS] [datetime] NOT NULL,
 CONSTRAINT [PK_T_USR_GRP] PRIMARY KEY CLUSTERED 
(
	[USR_ID] ASC,
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_GRP] ADD  CONSTRAINT [DF_T_GRP_ROW_CRT_TS]  DEFAULT (getdate()) FOR [ROW_CRT_TS]
GO
ALTER TABLE [dbo].[T_POST] ADD  CONSTRAINT [DF_T_POST_ROW_CRT_TS]  DEFAULT (getdate()) FOR [ROW_CRT_TS]
GO
ALTER TABLE [dbo].[T_POST_READS] ADD  CONSTRAINT [DF_T_POST_READS_ROW_CRT_TS]  DEFAULT (getdate()) FOR [ROW_CRT_TS]
GO
ALTER TABLE [dbo].[T_USR] ADD  CONSTRAINT [DF_T_USR_ROW_CRT_TS]  DEFAULT (getdate()) FOR [ROW_CRT_TS]
GO
ALTER TABLE [dbo].[T_USR_GRP] ADD  CONSTRAINT [DF_T_USR_GRP_ROW_CRT_TS]  DEFAULT (getdate()) FOR [ROW_CRT_TS]
GO
ALTER TABLE [dbo].[T_POST]  WITH CHECK ADD  CONSTRAINT [FK_T_POST_T_USR] FOREIGN KEY([ROW_CRT_USR_ID])
REFERENCES [dbo].[T_USR] ([USR_ID])
GO
ALTER TABLE [dbo].[T_POST] CHECK CONSTRAINT [FK_T_POST_T_USR]
GO
ALTER TABLE [dbo].[T_POST_READS]  WITH CHECK ADD  CONSTRAINT [FK_T_POST_READS_T_POST] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[T_POST] ([POST_ID])
GO
ALTER TABLE [dbo].[T_POST_READS] CHECK CONSTRAINT [FK_T_POST_READS_T_POST]
GO
ALTER TABLE [dbo].[T_POST_READS]  WITH CHECK ADD  CONSTRAINT [FK_T_POST_READS_T_USR] FOREIGN KEY([USR_ID])
REFERENCES [dbo].[T_USR] ([USR_ID])
GO
ALTER TABLE [dbo].[T_POST_READS] CHECK CONSTRAINT [FK_T_POST_READS_T_USR]
GO
ALTER TABLE [dbo].[T_USR_GRP]  WITH CHECK ADD  CONSTRAINT [FK_T_USR_GRP_T_GRP] FOREIGN KEY([GRP_ID])
REFERENCES [dbo].[T_GRP] ([GRP_ID])
GO
ALTER TABLE [dbo].[T_USR_GRP] CHECK CONSTRAINT [FK_T_USR_GRP_T_GRP]
GO
ALTER TABLE [dbo].[T_USR_GRP]  WITH CHECK ADD  CONSTRAINT [FK_T_USR_GRP_T_USR] FOREIGN KEY([USR_ID])
REFERENCES [dbo].[T_USR] ([USR_ID])
GO
ALTER TABLE [dbo].[T_USR_GRP] CHECK CONSTRAINT [FK_T_USR_GRP_T_USR]
GO
